/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.4;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    color: #555;
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  
  .logo img {
    height: 40px;
    width: auto;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  .container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
  }

  input[type="email"] {
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
  }
  
  select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
  }
  
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  
  .bback {
    margin-left: 20px;
    float: left;
    border: black;
    border-radius: 25px;
    display: block;
    padding: 1%;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .bback:hover{
    
    transform: scale(1);
    text-transform: uppercase;
  }
  
  footer {
    background-color: #333;
	color: #fff;
	padding: 10px;
    margin-top: 80px;
	text-align: center;
	bottom: 0;
	width: 100%;
  }
  